---
layout: default
---




<h1 class="black"> Engineering best practices for Machine Learning </h1>

<div class="large-image">
  <img src="/assets/img/SE4ML-practices-diagram.png" class="blog-image">
</div>
<br>
The list below gathers a set of engineering best practices for
developing software systems with machine learning (ML) components.
<br><br>
These practices were identified by engaging with ML engineering teams,
reviewing relevant <a href="https://github.com/SE-ML/awesome-seml/blob/master/readme.md" > academic and
  grey literature</a>, and through conducting <a href="https://great-ai.scoutinscience.com/explanation/" target="blank">case studies on a production ML pipeline</a>.
We are continuously running a <a href="https://se-ml.github.io/survey" target="blank"> global survey</a>
among ML engineering teams to measure the adoption of these practices.
<br><br>
The various practices are grouped into 6 categories, as illustrated in the diagram above, and listed below.
<br><br>
The practices are labeled with their <a href="/ranking">difficulty</a>, their <a href="/effects">effects</a>, and the <a
  href="/eu">requirements for
  trustworthy ML</a> they
help to satisfy.

{% assign sorted_practices = site.best_practices  | sort:"index" %}

<br><br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">List View</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Table View</a>
  </li>

</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

    <h3 class="black bold" id="data"> Data </h3>

    "Whoever owns the data pipeline will own the production pipeline for machine learning."
    --<a href="https://twitter.com/chipro/status/1232105910631157761">Chip Huyen<a>

        <ul>
          {% for pr in sorted_practices %}
          {% if pr.category == 'Data' %}
          <li>
            <a href="{{pr.url}}">{{ pr.name }}</a>
          </li>
          {% endif %}

          {% endfor %}
        </ul>



        <h3 class="black bold" id="training"> Training </h3>

        "No amount of experimentation can ever prove me right; a single experiment can prove me wrong." --Albert
        Einstein

        <ul>
          {% for pr in sorted_practices %}
          {% if pr.category == 'Training' %}
          <li>
            <a href="{{pr.url}}">{{ pr.name }}</a>
          </li>
          {% endif %}

          {% endfor %}
        </ul>



        <h3 class="black bold" id="coding"> Coding </h3>

        "You can’t be an AI expert these days and not have some grounding in software engineering."
        --<a href="https://twitter.com/Grady_Booch/status/1004078706518736896">Grady Booch</a>

        <ul>
          {% for pr in sorted_practices %}
          {% if pr.category == 'Coding' %}
          <li>
            <a href="{{pr.url}}">{{ pr.name }}</a>
          </li>
          {% endif %}

          {% endfor %}
        </ul>



        <h3 class="black bold" id="deployment"> Deployment </h3>

        “If your model isn’t deployed into production, does it really exist?”
        --<a href="https://twitter.com/code_star/status/1041913975154331648">Anonymous</a>

        <ul>
          {% for pr in sorted_practices %}
          {% if pr.category == 'Deployment' %}
          <li>
            <a href="{{pr.url}}">{{ pr.name }}</a>
          </li>
          {% endif %}

          {% endfor %}
        </ul>


        <h3 class="black bold" id="team"> Team </h3>

        "If you want to go fast, go alone; but if you want to go far, go together." -- African proverb, allegedly

        <ul>
          {% for pr in sorted_practices %}
          {% if pr.category == 'Team' %}
          <li>
            <a href="{{pr.url}}">{{ pr.name }}</a>
          </li>
          {% endif %}

          {% endfor %}
        </ul>


        <h3 class="black bold" id="governance"> Governance </h3>

        "Where there is great power there is great responsibility."
        --<a href="https://quoteinvestigator.com/2015/07/23/great-power/">Winston Churchill</a>

        <ul>
          {% for pr in sorted_practices %}
          {% if pr.category == 'Governance' %}
          <li>
            <a href="{{pr.url}}">{{ pr.name }}</a>
          </li>
          {% endif %}

          {% endfor %}
        </ul>



  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    <br>
    {% assign badge = "https://img.shields.io/badge/-advanced-lightgrey" %}
    {% assign badge_text = "This practice was ranked as advanced. Click to read more." %}


    <!-- <ul id="tag-list">
      <li>Data</li>
      <li>Training</li>
      <li>Coding</li>
      <li>Deployment</li>
      <li>Team</li>
      <li>Governance</li>
    </ul> -->

    <table class="table table-borderless table-hover align-middle" id="practiceTable">
      <thead>
        <tr>
          <th class="head-td" style="width: 10%">Index</th>
          <th class="head-td">Practice</th>
          <th class="head-td" style="width: 10%">Category</th>
          <th class="head-td" style="width: 10%">Difficulty</th>
        </tr>
      </thead>
      <tbody>
        {% for pr in sorted_practices %}
        {% if pr.index >= 0 %}

        {% if pr.difficulty == 'basic' %}
        {% assign badge = "https://img.shields.io/badge/-basic-lightgrey" %}
        {% assign badge_text = "This practice was ranked as basic. Click to read more." %}
        {% assign data_order = 0%}
        {% else %}
        {% if pr.difficulty == 'medium' %}
        {% assign badge = "https://img.shields.io/badge/-medium-lightgrey" %}
        {% assign badge_text = "This practice was ranked as medium. Click to read more." %}
        {% assign data_order = 2%}
        {% else %}
        {% if pr.difficulty == 'advanced' %}
        {% assign badge = "https://img.shields.io/badge/-advanced-lightgrey" %}
        {% assign badge_text = "This practice was ranked as advanced. Click to read more." %}
        {% assign data_order = 3%}
        {% else %}
        {% assign badge = "https://img.shields.io/badge/-not%20ranked-lightgrey" %}
        {% assign badge_text = "This practice was not ranked. Click to read more." %}
        {% assign data_order = 4%}
        {% endif %}
        {% endif %}
        {% endif %}

        <tr>
          <td style="width: 10%" class="table-center">{{pr.index}}</td>
          <td style="width: 50%"><a href="{{pr.url}}">{{pr.name}}</a></td>
          <td style="width: 10%" class="table-center"> {{pr.category}}</td>
          <td style="width: 10%" class="table-center" data-order="{{data_order}}">


            <a class=" badge parent" href="/ranking">
              <img class="hover-me" src="{{badge}}"></img>
              <span class="show-me">
                <span class="show-me-body">{{badge_text}}</span>
              </span>
            </a>

          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <script>
      var nameType = $.fn.dataTable.absoluteOrder({
        value: '4',
        position: 'bottom'
      });



      $('#practiceTable').DataTable({
        "paging": false,
        "info": false,
        columnDefs: [{
          targets: 3,
          type: nameType
        }]

      });

      var table = $('#practiceTable').DataTable();

      $('#tag-list').on('click', 'li', function () {

        console.log($(this).text())
        table
          .columns(2)
          .search($(this).text())
          .draw()

      });
    </script>


  </div>
</div>