---
layout: default
---

<h1 class="black"> ML Engineering Practices </h1>


 <div class="large-image">
      <img src="/assets/img/SE4ML-practices-diagram.png" class="blog-image"></img>
</div>

The list below catalogues a set of engineering best practices for
developing software systems that include machine learning components.
<br><br>
These practices were identified by engaging with ML engineering teams and
reviewing relevant literature. Also we are running a global survey
among ML engineering teams to measure the adoption of these practices.
<br><br>
The various practices are grouped into categories that are also shown
in the diagram above.

{% assign sorted_practices = site.categories.best_practices  | sort:"index" %}


<h3 class="black bold"> Data </h3>


"Whoever owns the data pipeline will own the production pipeline for machine learning."
-- <a href="https://twitter.com/chipro/status/1232105910631157761">Chip Huyen<a>

<br><br>

<ul>
  {% for pr in sorted_practices %}
     {% if pr.category == 'Data' %}
        <li>
          <a class="black" href="{{pr.url}}">{{ pr.name }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>



<h3 class="black bold"> Experiment </h3>

Experiments are at the core of ML.

<ul>
  {% for pr in sorted_practices %}
     {% if pr.category == 'Experiment' %}
        <li>
          <a  class="black" href="{{pr.url}}">{{ pr.name }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>



<h3  class="black bold"> Coding </h3>

"You can’t be an AI expert these days and not have some grounding in software engineering."
-- <a href="https://twitter.com/Grady_Booch/status/1004078706518736896">Grady Booch</a>

<br><br>

<ul>
  {% for pr in sorted_practices %}
     {% if pr.category == 'Coding' %}
        <li>
          <a  class="black" href="{{pr.url}}">{{ pr.name }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>



<h3 class="black bold"> Deployment </h3>

Pipelines are gods!

<ul>
  {% for pr in sorted_practices %}
     {% if pr.category == 'Deployment' %}
        <li>
          <a class="black" href="{{pr.url}}">{{ pr.name }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>


<h3 class="black bold"> Team </h3>

Tribes & squats ...

<ul>
  {% for pr in sorted_practices %}
     {% if pr.category == 'Team' %}
        <li>
          <a class="black" href="{{pr.url}}">{{ pr.name }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>