---
layout: default
---


 <div class="image-container">
      <img src="/assets/img/SE4ML-practices-diagram.png" class="blog-image"></img>
</div>

The list below catalogues a set of engineering best practices for
developing software systems that include machine learning components.
<br><br>
These practices were identified by engaging with ML engineering teams and
reviewing relevant literature. Also we are running a global survey
among ML engineering teams to measure the adoption of these practices.
<br><br>
The various practices are grouped into categories that are also shown
in the diagram above.

{% assign sorted_practices = site.categories.best_practices  | sort:"index" %}


<h3 class="black bold"> Data </h3>

Data, data, data, data!

<ul>
  {% for pr in sorted_practices %}
     {% if pr.category == 'data_management' %}
        <li>
          <a class="black" href="{{pr.url}}">{{ pr.name }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>



<h3 class="black bold"> Experiment </h3>

Experiments are at the core of ML.

<ul>
  {% for pr in sorted_practices %}
     {% if pr.category == 'experiment_management' %}
        <li>
          <a  class="black" href="{{pr.url}}">{{ pr.name }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>



<h3  class="black bold"> Coding </h3>
Nothing beats good code!

<ul>
  {% for pr in sorted_practices %}
     {% if pr.category == 'coding' %}
        <li>
          <a  class="black" href="{{pr.url}}">{{ pr.name }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>



<h3 class="black bold"> Deployment </h3>

Pipelines are gods!

<ul>
  {% for pr in sorted_practices %}
     {% if pr.category == 'deployment' %}
        <li>
          <a class="black" href="{{pr.url}}">{{ pr.name }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>


<h3 class="black bold"> Team </h3>

Tribes & squats ...

<ul>
  {% for pr in sorted_practices %}
     {% if pr.category == 'general' %}
        <li>
          <a class="black" href="{{pr.url}}">{{ pr.name }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>