---
layout: default
---

<div class="header-bar">
  {% comment %} <h1>{{ site.blog_name }}</h1> {% endcomment %}
  <h4>{{ site.blog_description }}</h4>
</div>


<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>

{% comment %} {% include pagination.html %} {% endcomment %}
