---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.name }}</h1>
    <p class="post-meta">{{ page.date | date: "%B, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  {% assign next_pr_index = page.index | plus:1  %}
  {% assign back_pr_index = page.index | minus:1  %}
  {% assign next_pr = site.categories.best_practices  | where: 'index', next_pr_index %}
  {% assign last_pr = site.categories.best_practices  | where: 'index', back_pr_index %}

  <a href="{{last_pr[0].url}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

  <a href="{{next_pr[0].url}}" class="float-right"> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

  <br><br>

  {% if page.image%}
    <div class="image-container">
      <img src="{{page.image}}" class="blog-image"></img>
      {% if page.photocredit%}
      <p>{{page.photocredit}}</p>
      {% endif %}
    </div>
  {% endif %}


{% comment %} Rationale: {% endcomment %}
{% comment %} <br><br> {% endcomment %}

  <article class="post-content">
    {{ content }}
  </article>

<br>
Read more at:
<br>
  <ul>
  {% for r in site.references %}
     {% if page.references contains r.acronym  %}
        <li>
          <a href="{{r.webpage}}" target="_blank">{{ r.title }}</a>
        </li>
    {% endif %}

  {% endfor %}
</ul>


<br><br><br><br>
  {% if site.disqus_shortname and page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname  = '{{ site.disqus_shortname }}';
      var disqus_identifier = '{{ page.id }}';
      var disqus_title      = {{ page.title | jsonify }};
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}

</div>
